XML_DOM/books.dtd

<!ELEMENT books (book)*>
<!--
KORENI ELEMENT JE books PODELEMENT MU JE book a book-ova deca su title i author takodje ATTLIST pripadaju elementu book
-->
<!ELEMENT book (title|author)*>
<!ATTLIST book
        id  ID #IMPLIED
        isbn CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
